<div class="container">
  <div class="header">
    <input placeholder="Buscar por Nome" type="text" />
    <button class="btn btn-primary" (click)="adicionarPerfil()">
      Adicionar Perfil
    </button>
  </div>
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>Ativo</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Atualizar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let perfil of perfis">
        <td>{{ perfil.ativo }}</td>
        <td>{{ perfil.nome }}</td>
        <td>{{ perfil.descricao }}</td>
        <td>
          <button class="btn" (click)="editarPerfil(perfil)">
            Editar perfil
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
