<div class="container">
  <div class="header">
    <input placeholder="Buscar por Nome" type="text" />
    <button class="btn btn-primary" (click)="adicionarUsuario()">
      Adicionar Usuário
    </button>
  </div>
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>Ativo</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.ativo }}</td>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.email }}</td>
        <td>
          <button
            class="btn btn-warning btn-sm"
            (click)="editarUsuario(usuario)"
          >
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
